*.iml
*.jazzignore
*.log
*.swp
.project
.idea/
.vscode/*
!.vscode/settings.json
com.siemens.bt.jazz.workitemeditor.rtcGitConnector*.zip
deployment-properties.ini
jbe-build-wrapper.xml
dist/
node_modules/
resources/dist/
