<div class="rtcGitConnectorMainLayout">
    <div data-dojo-type="com.siemens.bt.jazz.workitemeditor.rtcGitConnector.ui.widget.selectRegisteredGitRepository"></div>

    <div id="noRegisteredGitRepositoriesContainer" style="display: none;">
        <p>Please register a git repository in this project area. More info...</p>
    </div>

    <div id="noGitRepositorySelectedContainer" style="display: none;">
        <p>No git repository selected.</p>
    </div>

    <div id="invalidGitRepositoryTypeContainer" class="rtcGitConnectorError" style="display: none;">
        <p>The selected repository is not hosted on a supported platform. Currently only GitHub and GitLab are supported.<br />
            If the repository is actually hosted on one of the supported platforms, please check the configuration and make sure that the URL is correct.
        </p>
    </div>

    <div id="couldNotGetAccessTokenContainer" class="rtcGitConnectorError" style="display: none;">
        <p>An error occurred and the access token could not be retrieved from the server. Please refresh the page and try again.<br />
            This may be caused by the token service being unavailable or incorrectly configured.<br />
            If this error persists, please contact the Jazz Administrator and inform them of the problem.
        </p>
    </div>

    <div id="selectedRegisteredGitRepositoryContainer"></div>

    <div data-dojo-type="dijit/Dialog" data-dojo-attach-point="getAccessTokenDialog" title="Save access token" id="getAndSaveAccessTokenDialog">
        <p id="getGitHubAccessTokenContainer">Please enter your GitHub access token below.<br />
            You can create a new access token here: <a href='https://github.com/settings/tokens' target='_blank'>GitHub Access Token</a><br />
            Please grant the token access to the "repo" and "user" scopes in order to ensure that it has enough permissions.<br /><br />
            If you already saved an access token for GitHub, you are seeing it again because your access token has expired or has been revoked.<br />
            Please follow the instructions above to create a new access token to continue.<br /><br />
        </p>
        <p id="getGitLabAccessTokenContainer">Please enter your GitLab access token below.<br />
            Instructions on creating an access token for GitLab can be found here: <a href='https://docs.gitlab.com/ce/user/profile/personal_access_tokens.html' target='_blank'>GitLab Access Token</a><br />
            Please grant the token access to the "api" and "read_user" scopes in order to ensure that it has enough permissions.<br /><br />
            If you already saved an access token for this GitLab host, you are seeing it again because your access token has expired or has been revoked.<br />
            Please follow the instructions above to create a new access token to continue.<br /><br />
        </p>
        <label for="getAccessTokenInput">Access Token</label>
        <input name="getAccessTokenInput" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="accessTokenInput">
        <br />
        <button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-point="saveAccessTokenButton">Save</button>
        <button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelAccessTokenButton">Cancel</button>
    </div>
</div>