<div class="rtcGitConnectorMainLayout">
    <div data-dojo-type="com.siemens.bt.jazz.workitemeditor.rtcGitConnector.ui.widget.selectRegisteredGitRepository"></div>

    <div id="noRegisteredGitRepositoriesContainer" style="display: none;">
        <p>Please register a git repository in this project area. More info...</p>
    </div>

    <div id="noGitRepositorySelectedContainer" style="display: none;">
        <p>No git repository selected.</p>
    </div>

    <div id="selectedRegisteredGitRepositoryContainer"></div>
</div>