<div>
    <div id="rtcGitConnectorSelectLinkTypeContainer" style="display: none;">
        <label class="rtcGitConnectorLabelText">Choose what to link</label>
        <div class="rtcGitConnectorSelectLinkType">
            <div class="linkTypeItem" data-link-type="COMMIT">Commits</div>
            <div class="linkTypeItem" data-link-type="ISSUE">Issues</div>
            <div class="linkTypeItem" data-link-type="REQUEST">Requests</div>
        </div>
    </div>

    <p id="errorLoadingDataFromHostContainer" class="rtcGitConnectorError" style="display: none;"></p>
</div>