<div>
    <div id="rtcGitConnectorSelectLinkTypeContainer" style="display: none;">
        <div class="rtcGitConnectorSelectLinkType">
            <div class="linkTypeItem" data-link-type="COMMIT">Commits</div>
            <div class="linkTypeItem" data-link-type="ISSUE">Issues</div>
            <div class="linkTypeItem" data-link-type="REQUEST">Requests</div>
        </div>
    </div>

    <p id="errorLoadingDataFromHostContainer" class="rtcGitConnectorError" style="display: none;"></p>

    <div class="rtcGitConnectorViewAndSelectContainer" data-link-type="COMMIT" style="display: none;">
        <div data-dojo-attach-point="viewAndSelectCommits"
            data-dojo-type="com.siemens.bt.jazz.workitemeditor.rtcGitConnector.ui.widget.viewAndSelectCommits"></div>
    </div>

    <div class="rtcGitConnectorViewAndSelectContainer" data-link-type="ISSUE" style="display: none;">
        <div data-dojo-attach-point="viewAndSelectIssues"
            data-dojo-type="com.siemens.bt.jazz.workitemeditor.rtcGitConnector.ui.widget.viewAndSelectIssues"></div>
    </div>

    <div class="rtcGitConnectorViewAndSelectContainer" data-link-type="REQUEST" style="display: none;">
        <div data-dojo-attach-point="viewAndSelectRequests"
            data-dojo-type="com.siemens.bt.jazz.workitemeditor.rtcGitConnector.ui.widget.viewAndSelectRequests"></div>
    </div>

    <div data-dojo-attach-point="viewCommitsToLink"
        data-dojo-type="com.siemens.bt.jazz.workitemeditor.rtcGitConnector.ui.widget.viewCommitsToLink"></div>

    <div data-dojo-attach-point="viewIssuesToLink"
        data-dojo-type="com.siemens.bt.jazz.workitemeditor.rtcGitConnector.ui.widget.viewIssuesToLink"></div>

    <div data-dojo-attach-point="viewRequestsToLink"
        data-dojo-type="com.siemens.bt.jazz.workitemeditor.rtcGitConnector.ui.widget.viewRequestsToLink"></div>
</div>