<div>
    <label class="rtcGitConnectorLabelText">Recent commits</label>
    <br />
        <input id="viewAndSelectCommitsFilterInput"
            class="viewAndSelectFilterInput"
            placeholder="Filter commits by message or author..."
            data-dojo-type="dijit/form/TextBox"
            data-dojo-attach-point="commitsFilterInput"
            data-dojo-props="trim:true, intermediateChanges:true">
    <div class="rtcGitConnectorViewAndSelectWrapper" id="viewAndSelectCommitsWrapper">
        <div class="rtcGitConnectorViewAndSelectList"></div>
        <div class="rtcGitConnectorViewAndSelectDetails"></div>
    </div>
</div>