.rtcGitConnectorSelectItemMessage {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
}

.rtcGitConnectorSelectItemMessage::after, .rtcGitConnectorSelectItemMessage::before {
    position: absolute;
    bottom: 100%;
    left: 35px;
    height: 0;
    width: 0;
    border: solid transparent;
    content: " ";
    pointer-events: none;
}

.rtcGitConnectorSelectItemMessage::after {
    border-bottom-color: #d9edf7; /* backgroundColor */
    border-width: 15px; /* arrowHeight */
    margin-left: -15px;
}

.rtcGitConnectorSelectItemMessage::before {
    border-bottom-color: #31708f; /* borderColor */
    border-width: 17px; /* Math.round(borderWidth * Math.sqrt(2)) */
    margin-left: -17px;
}