<div>
    <label class="rtcGitConnectorLabelText">Recent Issues</label>
    <div class="rtcGitConnectorViewAndSelectWrapper" id="viewAndSelectIssuesWrapper">
        <div class="rtcGitConnectorViewAndSelectList">
            <div class="rtcGitConnectorViewAndSelectListControls">
                <div class="rtcGitConnectorViewAndSelectListControl">
                    <div class="viewAndSelectControlLabel">Search: </div>
                    <input id="viewAndSelectIssuesSearchInput"
                        class="viewAndSelectSearchInput"
                        placeholder="Search issues by id..."
                        data-dojo-type="dijit/form/TextBox"
                        data-dojo-attach-point="issuesSearchInput"
                        data-dojo-props="trim:true">
                    <button id="viewAndSelectIssuesSearchButton"
                            class="primary-button viewAndSelectSearchButton"
                            type="button">Search</button>
                    <button id="viewAndSelectIssuesSearchClearButton"
                            class="secondary-button"
                            type="button">Clear</button>
                </div>
                <div class="rtcGitConnectorViewAndSelectListControl">
                    <div class="viewAndSelectControlLabel">Filter: </div>
                    <input id="viewAndSelectIssuesFilterInput"
                        class="viewAndSelectFilterInput"
                        placeholder="Filter issues by title, author, state, id..."
                        data-dojo-type="dijit/form/TextBox"
                        data-dojo-attach-point="issuesFilterInput"
                        data-dojo-props="trim:true, intermediateChanges:true">
                    <button id="viewAndSelectIssuesFilterClearButton"
                        class="secondary-button"
                        type="button">Clear</button>
                </div>
            </div>
            <div class="rtcGitConnectorViewAndSelectListItems"></div>
        </div>
        <div data-dojo-attach-point="detailsPane"
            data-dojo-type="com.siemens.bt.jazz.workitemeditor.rtcGitConnector.ui.widget.detailsPane"></div>
    </div>
</div>