.rtcGitConnectorViewAndSelectDetails {
    box-sizing: border-box;
    flex-grow: 1;
    width: calc(100% - 20px);
    height: 300px;
    padding: 4px 10px;
    margin-left: 10px;
    border: 1px solid #cacaca;
    overflow-y: auto;
    overflow-x: hidden;
}

.rtcGitConnectorViewAndSelectDetailsSpan {
    display: block;
    font-size: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px dashed #cacaca;
}

.rtcGitConnectorViewAndSelectDetailsSpan span {
    display: inline-block;
}

.rtcGitConnectorViewAndSelectDetailsLabel {
    color: #666666;
}

.rtcGitConnectorViewAndSelectDetailsSpan.rtcGitConnectorViewAndSelectDetailsLabel {
    font-weight: bold;
}

.rtcGitConnectorViewAndSelectDetailsSpan .rtcGitConnectorViewAndSelectDetailsLabel {
    width: 100px;
    vertical-align: top;
}
