<div id="rtcGitConnectorDialog" style="display: none">
    <div
        data-dojo-type="dijit/Dialog"
        data-dojo-attach-point="mainErrorDialog"
        title="Browser Error"
        id="browserIsInternetExplorerContainer"
        class="rtcGitConnectorError"
    >
        <p>
            Internet Explorer is not supported. Please use
            <a href="https://www.google.com/chrome/index.html" target="_blank">Google Chrome</a>
            or
            <a href="https://www.mozilla.org/en-US/firefox/" target="_blank">Firefox</a>
            or Edge instead.
        </p>
    </div>
</div>
