/*
    Don't depend on the styles being withing this container style (or any container really).
    Dojo can and does place the elements at different places in the dom from where they were defined.

    If you try something like this:

        .rtcGitConnectorMainLayout .span {
            some style rule...
        }

    You would expect all spans under the element with the "rtcGitConnectorMainLayout" class
    to have the specified style rules. Because the spans may have been moved by dojo this might
    not be the case (e.g. Dialog, Select, ...).

    Just use long descriptive names and apply the classes to the elements directly.
*/

/*
    Set the height and width of the widget in percentage of the window height / width.
    This is nice and responsive but may require a minimum height / width to be set once
    the layout has been better defined.
*/
.rtcGitConnectorMainLayout {
    box-sizing: border-box;
    width: 80vw;
    min-width: 800px;
    min-height: 80vh;
    margin: 1rem;
    position: relative;
    padding-bottom: 2rem;
}

.rtcGitConnectorActionButtons {
    position: absolute;
    bottom: 0;
    right: 1rem;
    font-size: 1rem;
}

.rtcGitConnectorError {
    color: red;
}

.rtcGitConnectorLabelText {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.rtcGitConnectorSelectList {
    display: table;
    width: 100%;
}

/* Limit the size of the dojo select list drop-down arrow. It looks bad when any larger. */
.rtcGitConnectorSelectList .dijitArrowButton {
    width: 1rem;
}

.rtcGitConnectorSelectListSpan {
    box-sizing: border-box;
    display: block;
    width: 100%;
    text-align: left;
    padding: .2rem;
    font-size: 1rem;
}

/* Add a light blue background to the selected option in the drop-down list. */
.dijitSelectSelectedOption .rtcGitConnectorSelectListSpan {
    background-color: #cfe5fa;
}

.rtcGitConnectorSelectListFirstLine {
    font-weight: bold;
}

.rtcGitConnectorSelectListSecondLine {
    color: gray;
}

.rtcGitConnectorSelectLinkType {
    display: flex;
    background-color: gray;
}

.rtcGitConnectorSelectLinkType .linkTypeItem {
    display: inline-block;
    flex-grow: 1;
    padding: .5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    margin: 1px;
}

.rtcGitConnectorSelectLinkType .linkTypeItem:hover {
    background-color: lightgray;
}

.rtcGitConnectorSelectLinkType .linkTypeItem.selected {
    background-color: #cfe5fa;
    cursor: default;
}

.viewAndSelectSearchInput {
    width: calc(50% - 138px);
    margin-bottom: .5rem;
}

.viewAndSelectSearchButton {
    display: inline-block;
    width: 60px;
    height: 20px;
    margin-bottom: .5rem;
    border: 1px solid;
    border-radius: 3px;
    border-color: #357ebd;
    background-color: #428bca;
    color: white;
    vertical-align: middle;
    cursor: pointer;
}

.viewAndSelectSearchButton.viewAndSelectSearchClearButton {
    border-color: #ccc;
    background-color: #fbfbfb;
    color: #333;
}

button.viewAndSelectSearchButton[disabled] {
    opacity: 0.6;
    cursor: default;
}

.viewAndSelectFilterInput {
    width: calc(50% - 74px);
    margin-bottom: .5rem;
}

.rtcGitConnectorViewAndSelectWrapper {
    display: flex;
    width: 100%;
}

.rtcGitConnectorViewAndSelectList {
    flex-grow: 1;
    width: 100%;
    height: 300px;
    margin-right: 10px;
    border: 1px solid gray;
    overflow-y: auto;
}

.rtcGitConnectorViewAndSelectListItem {
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: .2rem;
    font-size: 1rem;
    cursor: pointer;
}

.rtcGitConnectorViewAndSelectListItem.itemToLink {
    cursor: default;
}

.rtcGitConnectorViewAndSelectListItem:hover {
    background-color: lightgray;
}

.rtcGitConnectorViewAndSelectListItem.selected {
    background-color: #cfe5fa;
    cursor: default;
}

.rtcGitConnectorViewAndSelectListItemButton {
    width: 2.5rem;
    height: 100%;
    background-color: lightgreen;
    border: 0.2rem solid green;
    border-radius: .5rem;
    margin: auto .3rem;
    font-size: 2rem;
    font-weight: bold;
    color: green;
    text-align: center;
    cursor: pointer;
}

.rtcGitConnectorViewAndSelectListItemButton.removeButton {
    background-color: lightcoral;
    border-color: red;
    color: red;
}

.rtcGitConnectorViewAndSelectListItemEmptyButton {
    width: 3rem;
    height: 100%;
    margin: auto .3rem;
}

.rtcGitConnectorViewAndSelectListItemContent {
    width: 100%;
    height: 100%;
}

.rtcGitConnectorViewAndSelectDetails {
    flex-grow: 1;
    width: 100%;
    height: 300px;
    margin-left: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.rtcGitConnectorViewAndSelectDetailsSpan {
    display: block;
    font-size: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px dashed lightgray;
}

.rtcGitConnectorViewAndSelectDetailsLabel {
    font-weight: bold;
}

.rtcGitConnectorViewItemsToLinkList {
    width: 100%;
    border: 1px solid gray;
}

.rtcGitConnectorHighlightText {
    background-color: yellowgreen;
}

#rtcGitConnectorFullPageLoadingOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 10000;
    text-align: center;
    line-height: 80vh;
    font-size: 5rem;
}